*.tex
*.dvi
latex/
.DS_Store
*.pdf
traces/
states/
/*.out
graphs
tla2tools.jar
*TTrace*
**/*.tlaps/
**/*.toolbox/
**/*.synctex.gz
*.aux
*.log
*.pdf
*.out
*.bbl
*.gz
*.blg
*.fdb_latexmk
*.fls
*.vtc
*.DS_Store
*.old
*tlatex.tex
*.dvi
*.xcp
*.nav
*.snm
*.toc
imgs/
trace.json
log_tree.html